@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.chart {
  width: 400px;
  height: 162px;
  border-radius: 16px;
  border: 1px solid #D0D5DD;
  font-family: "DM Sans";
}

.content-wrapper {
  padding: 16px;
}

.chart-title {
  color: #1A1A1A;
  font-size: 18.729px;
  font-style: normal;
  margin: 0;
  font-weight: 700;
}

.features {
  display: flex;
  justify-content: space-between;
}

.first-half {
  padding-top: 20px;
}

.first-half svg {
  scale: 1.1;
  margin-left: 7px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.counter-data-span {
  color: #8B25FC;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  padding-right: 5px;
}
.counter-wheel {
  color: #999;
  text-align: right;
  font-size: 43px;
  font-weight: 700;
  line-height: 51.193px;
  height: 50px;
  overflow: hidden;
}

.counter-carousel {
  display: flex;
  flex-direction: column;  
  animation: carousel 3s infinite ease;      
}

.counter-wheel span {
  display: inline-block;
  transition: opacity 0.5s;
  opacity: 1;
}

.explore-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-more span{
   color: #999;
   text-align: right;
   font-size: 12px;
}

.explore-more svg {
  width: 30px;
  height: 31px;
  flex-shrink: 0;
}
.superior-slider { 
  position: relative;
  background: white;
  height: 64px;
  bottom: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 3px;
  gap: 23px;
  animation: wave 3s infinite ease-in;
}

.straight-line {
     width: 100%;
    height: 1px;
    background: #E4E4E4;
    opacity: 0.6;
}

.fade-in {
  animation: fadeIn 3s linear infinite;
}

@keyframes wave {
  0% {
    width: 149px;
  }
  
 50% {
    width: 0px;
    left: 149px;
  }
  
  100% {
    width: 149px;
    left: 0;
  }
}
@keyframes carousel {
  10% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-920px);
  }
  60% {
    transform: translateY(-920px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn{
  0% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1);
  } 
}