.container {
  position: relative;
  width: 936px;
  height: 831px;
  margin: 0 auto;
}

.svg-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dot {
  width: 30px;
  height: 30px;
  background-color: #3733eb;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: -8px 0 30px 5px rgba(255, 255, 255, 0.7);
  animation: moveOnPath 10s ease-in-out infinite alternate;
}

@keyframes moveOnPath {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.dot {
  offset-path: path(
    "M299.75 92.8131H318.973C336.73 92.8131 351.125 78.4184 351.125 60.6616V35.0709C351.125 17.3142 365.52 2.91948 383.276 2.91948L621.085 2.91943C638.842 2.91943 653.236 17.3141 653.236 35.0708V62.5103C653.236 73.556 662.191 82.5102 673.236 82.5102H901.12C918.877 82.5102 933.271 96.9049 933.271 114.662V206.585C933.271 224.342 918.877 238.737 901.12 238.737H685.388C667.631 238.737 653.236 253.131 653.236 270.888V349.223C653.236 360.268 644.282 369.223 633.236 369.223H383.276C365.52 369.223 351.125 354.828 351.125 337.071V282.071C351.125 264.314 336.73 249.919 318.973 249.919C318.973 249.919 318.973 249.919 318.973 249.919C318.973 249.919 51.9081 249.919 34.1514 249.919C16.3947 249.919 2 264.314 2 282.071V483.071V590.071L2.0002 691.798C2.0002 709.555 16.3949 723.949 34.1516 723.949H621.085C638.842 723.949 653.236 709.555 653.236 691.798V643.571V622.222C653.236 604.465 667.631 590.071 685.388 590.071H913.271C924.317 590.071 933.271 599.025 933.271 610.071V694.071C933.271 712.071 933.271 717.071 933.271 747.618V796.071C933.271 813.828 918.877 828.222 901.12 828.222H595.771"
  );
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  fill: #6869ac;
  opacity: 0.5;
}

.svg-trail {
  stroke-dasharray: 4050;
  stroke-dashoffset: 4050;
  animation: drawTrail 10s ease-in-out infinite alternate;
}

@keyframes drawTrail {
  to {
    stroke-dashoffset: 0;
  }
}